<div class="authError-container">
    <h1>Ups! Parece que no estas logueado para acceder a esta página.</h1>
    <div class="autError-anchors">
        <a href="/login">Ingresa con tu cuenta desde aquí</a>
        <a href="/signup">¿No tienes cuenta?</a>
    </div>
    
</div>